extends layout

extends layout
block content
  #top-header
    h1.main-title gamerscout
  #reset-pwd-container
    h2.reset-pwd-success Password successfully updated
    a(href="/") < Back to homepage